/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter:alpha(opacity=60);
    /* background: #ECECEC; */
    
    
    }
    img{
        height: 64px;
        width: 70px;
        
    }
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    #myVideo {
        position: fixed;
        top: 0px;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: -1;
    }