<nav>
        <div class="nav-wrapper" style="background-color: black">
            <a (click)="home()">
            <img width="300" alt="Logo" src="/assets/img/logo1.jpg">
            </a>
            <!-- <input type="text"> -->
            <!-- <textarea rows="10" cols="1"></textarea> -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a (click)="c1()">C1</a></li>
            <li><a (click)="c2()">C2</a></li>
            <li><a (click)="c3()">C3</a></li>
          </ul>
        </div>
      </nav>
    