<form >
  <b>
  <br>
  Create table :</b>
  <br>
  <input type="text" name="fname">
  <br>
  <button class="waves-effect waves-light btn">Submit</button>
  <br><br>
  <b>Upload file :</b>
  <br>
  <input type="file" id="inp" ><i class="fa fa-file"></i>
  <br>
  <button class="waves-effect waves-light btn">Submit</button>
  <br>
  <br>
  <b>Remove table :</b>
  <br>
  <input type="text" name="fname">
  <br>
  <button class="waves-effect waves-light btn">Submit</button>
  <br>
  <br>
  <b>Export table :</b>
  <br>
  <input type="text" name="fname">
  <br>
  <button class="waves-effect waves-light btn">Submit</button>
  
</form>
<!-- <router-outlet></router-outlet> -->