form{
    text-align:center;
    align-items: center;
    color : black;
    background: transparent;
    font-size: 20 px;
}
#inp {
    text-align: center;
    margin: auto;
  }
button{
    color:white;
    background-color: black;
    border: 0px;
}