<div class="input-field" style="margin-top: 68px"><b>
  <input id="search" type="search" required>
  <label class="label-icon" for="search">
    <i class="material-icons" style="color:black; size:30px;">search</i>
  </label>
</b>
</div>


<table class="striped">
    <thead>
      <tr>
          <th>Name<button  ><i class="fa fa-angle-up"></i><i class="fa fa-angle-down"></i></button> </th>
          <th>Item Name<button><i class="fa fa-angle-up"></i><i class="fa fa-angle-down"></i></button></th>
          <th>Item Price<button><i class="fa fa-angle-up"></i><i class="fa fa-angle-down"></i></button></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
        

  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="fa fa-angle-left"></i></a></li>
    <li class="active" style="background-color: black"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="fa fa-angle-righht"></i></a></li>
  </ul>
            


<router-outlet></router-outlet>