<div ng-app="myApp" ng-controller="myController">
<button (click)=" Onclick()">
  Click Here !!
  </button>
  <br>
  <br>
  {{clickMessage}}
  <!-- <script>
    var app = angular.module('myApp',[]);
    app.controller("myController",function($scope,$window){
      $scope.funcOnclick()=function(){
         window.alert("On click event !!!");
        
      }
    });
  </script> -->
  </div>