#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;

}

.items {
    width:1000px;
    height:500px;
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}

#images{
    width:1000px;
    height:500px;
}