<div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="items"
      [width]="900"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
  

  <ng-template #prev>
    <img src="assets/img/arrow1.png" id="left" />
  </ng-template>
  <ng-template #next>
    <img src="assets/img/arrow2.png" id="right" />
  </ng-template>
  <ng-template #item let-item let-i="index">

      <div class="items">
        <img class="materialboxed" src="{{ item.name }}" id="images">
      </div>

  </ng-template>